@{
    ViewData["Title"] = "Video";
}
<section class="container">
    <div class="d-flex justify-content-between main-header">
        <h6>Channels</h6>
        <p>Sort by <i class="fas fa-arrow-circle-down"></i></p>
    </div>
    <div class="mt-3 d-flex flex-row justify-content-around flex-wrap">
        <div class="card box box-subscribe box-shadow">
            <div class="card-body text-center">
                <a asp-controller="channel" asp-action="channel" asp-route-Id="343">
                    <img class="user-icon-channel rounded-circle" alt="" src="~/img/s1.png" asp-append-version="true">
                </a>
                <div class="mt-2">
                    <a class="btn btn-outline-primary" href="#">Subscribe <b>1.5M</b></a>
                </div>
                <p class="channels-channel-name mt-1">Channel Name</p>
                <p class="channels-channel-subscribtion grey">200,323 subscribers</p>
            </div>
        </div>
        <div class="card box box-subscribe box-shadow">
            <div class="card-body text-center">
                <a asp-controller="channel" asp-action="channel" asp-route-Id="343">
                    <img class="user-icon-channel rounded-circle" alt="" src="~/img/s1.png" asp-append-version="true">
                </a>
                <div class="mt-2">
                    <a class="btn btn-outline-primary" href="#">Subscribe <b>1.5M</b></a>
                </div>
                <p class="channels-channel-name mt-1">Channel Name</p>
                <p class="channels-channel-subscribtion grey">200,323 subscribers</p>
            </div>
        </div>
        <div class="card box box-subscribe box-shadow">
            <div class="card-body text-center">
                <a asp-controller="channel" asp-action="channel" asp-route-Id="343">
                    <img class="user-icon-channel rounded-circle" alt="" src="~/img/s1.png" asp-append-version="true">
                </a>
                <div class="mt-2">
                    <a class="btn btn-outline-primary" href="#">Subscribe <b>1.5M</b></a>
                </div>
                <p class="channels-channel-name mt-1">Channel Name</p>
                <p class="channels-channel-subscribtion grey">200,323 subscribers</p>
            </div>
        </div>
        <div class="card box box-subscribe box-shadow">
            <div class="card-body text-center">
                <a asp-controller="channel" asp-action="channel" asp-route-Id="343">
                    <img class="user-icon-channel rounded-circle" alt="" src="~/img/s1.png" asp-append-version="true">
                </a>
                <div class="mt-2">
                    <a class="btn btn-outline-primary" href="#">Subscribe <b>1.5M</b></a>
                </div>
                <p class="channels-channel-name mt-1">Channel Name</p>
                <p class="channels-channel-subscribtion grey">200,323 subscribers</p>
            </div>
        </div>
        <div class="card box box-subscribe box-shadow">
            <div class="card-body text-center">
                <a asp-controller="channel" asp-action="channel" asp-route-Id="343">
                    <img class="user-icon-channel rounded-circle" alt="" src="~/img/s1.png" asp-append-version="true">
                </a>
                <div class="mt-2">
                    <a class="btn btn-outline-primary" href="#">Subscribe <b>1.5M</b></a>
                </div>
                <p class="channels-channel-name mt-1">Channel Name</p>
                <p class="channels-channel-subscribtion grey">200,323 subscribers</p>
            </div>
        </div>
        <div class="card box box-subscribe box-shadow">
            <div class="card-body text-center">
                <a asp-controller="channel" asp-action="channel" asp-route-Id="343">
                    <img class="user-icon-channel rounded-circle" alt="" src="~/img/s1.png" asp-append-version="true">
                </a>
                <div class="mt-2">
                    <a class="btn btn-outline-primary" href="#">Subscribe <b>1.5M</b></a>
                </div>
                <p class="channels-channel-name mt-1">Channel Name</p>
                <p class="channels-channel-subscribtion grey">200,323 subscribers</p>
            </div>
        </div>
        <div class="card box box-subscribe box-shadow">
            <div class="card-body text-center">
                <a asp-controller="channel" asp-action="channel" asp-route-Id="343">
                    <img class="user-icon-channel rounded-circle" alt="" src="~/img/s1.png" asp-append-version="true">
                </a>
                <div class="mt-2">
                    <a class="btn btn-outline-primary" href="#">Subscribe <b>1.5M</b></a>
                </div>
                <p class="channels-channel-name mt-1">Channel Name</p>
                <p class="channels-channel-subscribtion grey">200,323 subscribers</p>
            </div>
        </div>
        <div class="card box box-subscribe box-shadow">
            <div class="card-body text-center">
                <a asp-controller="channel" asp-action="channel" asp-route-Id="343">
                    <img class="user-icon-channel rounded-circle" alt="" src="~/img/s1.png" asp-append-version="true">
                </a>
                <div class="mt-2">
                    <a class="btn btn-outline-primary" href="#">Subscribe <b>1.5M</b></a>
                </div>
                <p class="channels-channel-name mt-1">Channel Name</p>
                <p class="channels-channel-subscribtion grey">200,323 subscribers</p>
            </div>
        </div>
        <div class="card box box-subscribe box-shadow">
            <div class="card-body text-center">
                <a asp-controller="channel" asp-action="channel" asp-route-Id="343">
                    <img class="user-icon-channel rounded-circle" alt="" src="~/img/s1.png" asp-append-version="true">
                </a>
                <div class="mt-2">
                    <a class="btn btn-outline-primary" href="#">Subscribe <b>1.5M</b></a>
                </div>
                <p class="channels-channel-name mt-1">Channel Name</p>
                <p class="channels-channel-subscribtion grey">200,323 subscribers</p>
            </div>
        </div>


    </div>
    <div class="my-4">
        <nav class="d-flex flex-row justify-content-center align-items-center">
            <a class="mr-2 px-3 py-2 grey pageNumber" href="#">Previous</a>
            <a class="mr-2 px-3 py-2 active pageNumber" href="#">1</a>
            <a class="mr-2 px-3 py-2 pageNumber" href="#">2</a>
            <a class="mr-2 px-3 py-2 pageNumber" href="#">3</a>
            <a class="mr-2 px-3 py-2 pageNumber" href="#">Next</a>
        </nav>
    </div>
</section>
